body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  text-align: center;
}


/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
} */

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
}

.header a {
  color: #fff;
  text-decoration: none;
} */

/* .content-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */


